.team {
  background-color: #fff;
  padding: 100px 0;
  font-family: "Open Sans", sans-serif;
  @include response(1200) {
    padding: 100px 15px;
  }
  @include response(767) {
    padding: 60px 15px 30px;
  }
  &__holder {
    max-width: 1170px;
    width: 100%;
    margin: 0 auto;
  }
  &__title {
    font-size: 42px;
    line-height: 46px;
    text-align: center;
    color: $gray;
    font-weight: 500;
    text-transform: capitalize;
    margin: 0 0 100px;
    @include response(767) {
      margin: 0 0 30px;
    }
  }
  &__list {
    .slick-prev,
    .slick-next {
      cursor: pointer;
      position: absolute;
      text-align: center;
      z-index: 2;
      top: 50%;
      margin: -25px 0 0;
      font-size: 0;
      line-height: 0;
      padding: 0;
      width: 50px;
      height: 50px;
      background-color: $blue;
      border: none;
      border-radius: 50%;
      outline: none;
      transition: .3s;
      &:hover {
        background-color: $gray;
        &::before {
          border-color: #fff;
        }
      }
      &::before {
        content: "";
        position: absolute;
        top: 50%;
        left: 50%;
        margin: -8px 0 0 -4px;
        display: block;
        width: 16px;
        height: 16px;
        border: solid #fff;
        border-width: 0 0 1px 1px;
        transform: rotate(45deg);
      }
    }
    .slick-prev {
      left: -80px;
      @include response(1154) {
        left: 0;
      }
    }
    .slick-next {
      right: -80px;
      @include response(1154) {
        right: 0;
      }
      &::before {
        transform: rotate(225deg);
        margin: -8px 0 0 -11px;
      }
    }
    .slick-dots {
      @extend %clear-list;
      @extend %clearfix;
      position: absolute;
      left: 50%;
      bottom: -40px;
      transform: translateX(-50%);
      li {
        cursor: pointer;
        position: relative;
        width: 20px;
        height: 20px;
        border-radius: 50%;
        float: left;
        button {
          cursor: pointer;
          border-radius: 50%;
          display: block;
          background-color: #b0b8b9;
          border: none;
          width: 100%;
          height: 100%;
          outline: none;
          font-size: 0;
          line-height: 0;
          padding: 0;
          transition: .3s;
        }
        &:hover {
          button {
            background: $gray;
          }
        }
        &.slick-active {
          button {
            background: $blue;
          }
        }
      }
      li + li {
        margin: 0 0 0 10px;
      }
    }
  }
  &__item {
    width: 290px;
    height: 435px;
    outline: none;
    &:hover {
      .team__image::before {
        display: block;
      }
    }
  }
  &__image {
    display: block;
    outline: none;
    width: 200px;
    height: 200px;
    overflow: hidden;
    border-radius: 50%;
    background-color: $l_gray;
    text-align: center;
    line-height: 200px;
    position: relative;
    margin: 0 auto 65px;
    &::before {
      @extend %pseudo;
      display: none;
      left: 50%;
      top: 50%;
      margin: -21px 0 0 -21px;
      @extend %icon-team-item_icon;
    }
    img {
      outline: none;
      display: inline-block;
      vertical-align: middle;
      max-width: 100%;
      max-height: 100%;
      width: auto;
      height: auto;
    }
  }
  &__name {
    text-align: center;
    font-size: 22px;
    line-height: 26px;
    height: 26px;
    overflow: hidden;
    color: $gray;
    text-transform: capitalize;
    padding: 0 15px;
    margin: 0 0 10px;
  }
  &__position {
    @extend .team__name;
    font-size: 14px;
    line-height: 20px;
    height: 40px;
  }
  &__text {
    text-align: center;
    font-size: 14px;
    line-height: 20px;
    padding: 0 15px;
    color: $gray;
    height: 85px;
    overflow: hidden;
  }
}
