<div id="contact" class="contact" style="background-image: url('/data/contact_bg.jpg')">
  <div class="contact__overlay"></div>
  <div class="contact__holder">
    <div class="contact__title">Contact us</div>
    <div class="contact__block">
      <form action="#" method="post" name="contact-form" class="contact__form">
        <div class="contact__row">
          <div class="contact__field">
            <input type="text" name="name" placeholder="Name">
          </div>
          <div class="contact__field">
            <input type="email" name="email" placeholder="Email">
          </div>
        </div>
        <textarea class="contact__textarea" name="message" rows="6" placeholder="Message"></textarea>
        <div class="contact__holder-btn">
          <button type="submit" class="contact__btn-submit">Send</button>
        </div>
      </form>
      <div class="contact__info">
        <div class="contact__info-title">Get in touch with us</div>
        <div class="contact__info-text">
          Lorem Ipsum is simply dummy text of the printing and typesetting
          industry. Lorem Ipsum has been the industry's
        </div>
        <ul class="contact__social-list">
          <li class="contact__social facebook"><a href="#"></a></li>
          <li class="contact__social twitter"><a href="#"></a></li>
          <li class="contact__social google"><a href="#"></a></li>
        </ul>
        <div class="contact__developers">
          Posted by <a href="#">Dospel &amp; GanjaParker</a>
        </div>
        <a href="tel:+XXXXXXXXXXXX" class="contact__phone">+XX-XXXX-XXXX-XX</a>
        <a href="mailto:info@mail.com" class="contact__email">info@mail.com</a>
      </div>
    </div>
  </div>
</div>
