<header class="header">
  <div class="header__holder">
    <a href="/" class="header__logo">
      <img class="header__logo-img" src="images/header_logo.png" alt="logo" title="logo" width="120" height="37">
    </a>
    <nav class="header__nav">
      <ul class="header__list">
        <li class="header__item active"><a href="#wrapper" data-target="anchor" class="header__link">Home</a></li>
        <li class="header__item"><a href="#plans" data-target="anchor" class="header__link">Service</a></li>
        <li class="header__item"><a href="#" class="header__link">Portfolio</a></li>
        <li class="header__item"><a href="#team" data-target="anchor" class="header__link">Team</a></li>
        <li class="header__item"><a href="#" class="header__link">Blog</a></li>
        <li class="header__item"><a href="#contact" data-target="anchor" class="header__link">Contact</a></li>
      </ul>
    </nav>
  </div>
</header>
