<div class="main-carousel">
  <div class="main-carousel__slide">
    <div class="main-carousel__overlay"></div>
    <img class="main-carousel__img" src="data/main-carousel/slide1.jpg" alt="slide" title="slide">
    <div class="main-carousel__block">
      <div class="main-carousel__title">
        This is a main heading
      </div>
      <div class="main-carousel__text">
        Lorem ipsum is simply dummy text of the printing
      </div>
      <a href="#" class="main-carousel__link">Learn more</a>
    </div>
  </div>
  <div class="main-carousel__slide">
    <div class="main-carousel__overlay"></div>
    <img class="main-carousel__img" src="data/main-carousel/slide1.jpg" alt="slide" title="slide">
    <div class="main-carousel__block">
      <div class="main-carousel__title">
        This is a second slide
      </div>
      <div class="main-carousel__text">
        Lorem ipsum is simply dummy text of the printing
      </div>
      <a href="#" class="main-carousel__link">Learn more</a>
    </div>
  </div>
</div>
