<div id="plans" class="plans">
  <div class="plans__list">
    <div class="plans__box">
      <div class="plans__title">Basic</div>
      <div class="plans__value">$5.01 / Mounth</div>
      <ul class="plans__list-box">
        <li>Lorem ipsum</li>
        <li>Dolor sit amet, consect</li>
        <li>Adipiscing elit</li>
        <li>Proin commodo turpis</li>
        <li>Lacus pulvinarvel</li>
        <li>Prnare nisi pretium</li>
      </ul>
      <div class="plans__btn-holder">
        <a href="#" class="plans__btn-buy">Buy now</a>
      </div>
    </div>
    <div class="plans__box">
      <div class="plans__title">Pro</div>
      <div class="plans__value">$10.01 / Mounth</div>
      <ul class="plans__list-box">
        <li>Lorem ipsum</li>
        <li>Dolor sit amet, consect</li>
        <li>Adipiscing elit</li>
        <li>Proin commodo turpis</li>
        <li>Lacus pulvinarvel</li>
        <li>Prnare nisi pretium</li>
      </ul>
      <div class="plans__btn-holder">
        <a href="#" class="plans__btn-buy">Buy now</a>
      </div>
    </div>
    <div class="plans__box">
      <div class="plans__title">Premium</div>
      <div class="plans__value">$20.01 / Mounth</div>
      <ul class="plans__list-box">
        <li>Lorem ipsum</li>
        <li>Dolor sit amet, consect</li>
        <li>Adipiscing elit</li>
        <li>Proin commodo turpis</li>
        <li>Lacus pulvinarvel</li>
        <li>Prnare nisi pretium</li>
      </ul>
      <div class="plans__btn-holder">
        <a href="#" class="plans__btn-buy">Buy now</a>
      </div>
    </div>
  </div>
</div>
